footer {
	background-color: #446783;
	height: 200px;	
}

.featured1 {
	// padding: 5px;
	margin-left: 5%;
	margin-top: -3%;
	width: 150px;
	height: 150px;
}

.attachment-featured1 {
	// padding: 5px;
	margin-left: 5%;
	margin-top: -3%;
	width: 150px;
	height: 150px;
}

.death {
	padding: 10%;
}

.death a {
	text-decoration: none;
}

.death h1:hover {
	color: #f68e56;
	// color: #28aae1;
}

.death h1, h3, h4 {
	margin-bottom: 3%;
	font-size: 20px;
	// text-transform: uppercase;
	// text-align: center;
}





.works-header h4{
	font-size: 26px;
	text-transform: uppercase;
	color: #c6e2fa;
	padding-left: 4%;
	margin-top: -5%;
	padding-bottom: 5%;

}

// .divider1 {
// 	height: 1px;
// 	width: 100%;
// 	background-color: #476c89;
// 	margin-bottom: 4em;
// 	margin-top: -3em;

// }

// .bot2 {
// 	background-color: #446783;
// 	height: 100%;

// }


































