.featured1 {
	padding: 1%;
	margin-left: 5%;
	margin-top: -3%;
	width: 250px;
	height: 250px;
}

// .toprow {
// 	border-bottom: 1px solid #c6e2fa;
// 	// background-color: red;
// }

.death h1 {
	margin-bottom: 3%;
}

.works-header h4{
	font-size: 26px;
	text-transform: uppercase;
	color: #c6e2fa;
	padding-left: 4%;
	margin-top: -5%;
	padding-bottom: 5%;

}




































